.card-buttons {
  margin: 0 40px 0;
}

.link-btn {
  background: #60bd7e;
  color: white;
  transition: 0.25s ease;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  margin: 4px;
  outline: none;
}

.link-btn:hover {
  color: #60bd7e;
  background-color: transparent;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  border: 0.5px solid transparent;
}
.link-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.card {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.12);
}
.card-title {
  text-align: center;
  font-family: "Lato", sans-serif;
}
.project-image {
  padding: 5px;
}
.card-text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
