/* FORM */
#form-textarea-message {
  width: 350px;
}
#form-email-input,
#form-name-input,
#form-subject-input {
  width: 300px;
}
#form-textarea-message,
#form-email-input,
#form-name-input,
#form-subject-input {
  font-family: "Lato", sans-serif;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.12);
  border: none;
}

/* BUTTON */
.submit-btn {
  background: #78ec9d;
  border: 1.5px solid #60bd7e;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  transition: 1s ease-in-out;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.12);
}
.submit-btn:hover {
  background: #60bd7e;
  transition: 1s ease-in-out;
}
.submit-btn > span {
  color: #24472f;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* SUBMISSION MESSAGES */
.error-message,
.thankyou-message {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.error-message {
  color: #ff6347;
}
.thankyou-message {
  color: #54a56e;
}
