.github-btn,
.live-btn {
  background: #78ec9d;
  border: 1.5px solid #60bd7e;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  transition: 1s ease-in-out;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.12);
}

.github-btn:hover,
.live-btn:hover {
  background: #60bd7e;
  transition: 1s ease-in-out;
}
