.menu-button {
  color: #78ec9d;
  font-size: 30px;
}

.navbar {
  background: rgb(62, 68, 75);
  background: linear-gradient(
    141deg,
    rgba(62, 68, 75, 1) 0%,
    rgba(7, 7, 7, 1) 100%
  );
}

.nav-link {
  color: white !important;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
.nav-link:hover {
  color: #78ec9d !important;
}
.logo-navbar {
  width: 100px;
  height: auto;
}
.brand-name {
  color: #78ec9d;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
