/* FONTS USED
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */
.App {
  /* background-color: #070707; */
  background-color: #f2f2f2;
  min-height: 100vh;
  max-width: 100%;
  padding-bottom: 100px;
  overflow: hidden;
}
.contact,
.aboutme,
.portfolio,
.portrait-photo {
  margin-top: 80px;
}

.landing-logo {
  width: 200px;
}
.landing {
  text-align: center;
  background-color: #070707 !important;
  margin: 100px;
  padding-top: 50px;
}

/* ABOUT PAGE */
.aboutme > h1 {
  font-family: "Lato", sans-serif;
  margin: 0;
}
.aboutme > h6,
p {
  font-family: "Open Sans", sans-serif;
}
.aboutme > h6 {
  color: gray;
}

.portrait-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
  padding: 5px 5px 30px;
  border: solid 1px #efefef;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.12);
}

/* CONTACT PAGE */
.contact > h2 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  margin: 40px 0 0;
}
.contact > p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  color: grey;
}

/* RESUME PAGE */
.resume-name {
  background-color: rgb(174, 221, 174);
  height: 120px;
  margin-bottom: 25px;
}
.resume-name > h1 {
  color: #305e3f;
  font-family: "Lato", sans-serif;
  font-size: 44px;
  padding-top: 15px;
  margin: 40px 0 0px;
}
.resume-name > p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 4px 0 10px;
}
.resume-name > hr {
  border-top: 2px solid #488e5e;
  margin: 0;
}
.resume-name {
  text-align: center;
}
.sidebar-socials {
  margin-top: 60px;
}

.sidebar-socials > ul > li {
  color: #070707;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.sidebar-ico {
  color: #488e5e;
  font-size: 16px;
  margin-top: 15px;
}
.progressbar-container {
  margin: 15px 0 30px;
}
.sidebar-title {
  color: #305e3f;
  font-weight: bolder;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding: 0;
  margin-top: 16px;
}
