/* FONTS USED
Helvetica, Lato, Open Sans */

.home-container,
.page-container,
.notfound-container {
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.page-container,
.notfound-container {
  background-color: #dadada;
  padding-bottom: 180px;
}
.contact,
.aboutme,
.portfolio,
.portrait-photo {
  margin-top: 80px;
}
