.skill-name,
.language-name {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

progress {
  border-radius: 7px;
  width: 30%;
  height: 13px;
}
progress::-webkit-progress-bar {
  background-color: #a9b1ab;
}
progress::-webkit-progress-value {
  background-color: #488e5e;
}
