.skill-name,
.language-name {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  /* text-transform: uppercase; */
}

progress {
  border-radius: 7px;
  width: 30%;
  height: 13px;
}
progress::-webkit-progress-bar {
  background-color: #bed4c4;
}
progress::-webkit-progress-value {
  background-color: #488e5e;
}
