footer {
  display: flex;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.wrap {
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  background-color: #212529;
  color: whitesmoke;
}

.footer-bottom {
  background-color: #070707;
  height: 20px;
}

.footer-copyright {
  font-weight: normal;
  font-size: small;
}
.logo-footer {
  width: 75px;
  height: auto;
  align-items: center;
  margin: 30px;
}
.social-icons {
  display: flex;
  align-items: center;
}
.social-list {
  margin: 30px;
}
.location {
  margin: 30px;
  align-items: center;
}
h5 {
  padding-top: 30px;
}
.ico {
  padding-left: 20px;
}
