footer {
  font-family: "Lato", sans-serif;
  display: flex;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.wrap {
  text-align: center;
  width: 100%;
  color: whitesmoke;
  background: rgb(62, 68, 75);
  background: linear-gradient(
    141deg,
    rgba(62, 68, 75, 1) 0%,
    rgba(7, 7, 7, 1) 100%
  );
}

.footer-bottom {
  background-color: #070707;
  height: 20px;
}

.footer-copyright {
  font-weight: normal;
  font-size: small;
}
.social-section {
  align-items: center;
  padding: 30px;
  height: 100px;
}
.ico {
  margin: 8px;
  font-size: 38px;
  color: white;
}
.contact-info,
.state-info {
  font-size: 14px;
  color: white;
}
.ico:hover,
.contact-info:hover {
  color: #78ec9d;
  text-decoration: none;
}
